    <h3 style="
    text-align: center;
    display: block;
    padding-top: 8.5%;">
      Team AtmaNirbhar is PARC’s Student Division.
      <small class="text-muted"><br>
        Our secret sauce, our backbone and a PARC jewel!</small><br>
    </h3>
    <div class="line" style="
    padding-left: 13%;
    padding-right: 12%;
    padding-top: 3%;">

      <hr>

    </div>
    

    

    <div class="card mb-3">
      <img class='image1' style="
      width: 87%;
    padding-left: 13%;" src="/assets/TeamBanner.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h2 class="card-title" style="
        text-align: center;">“Alone we can do so little, together we can do so much…”</h2>
        <div class="line2" style="
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 3%;">
          <hr>
        </div>
        <div class='para2'>
          <p class="card-text text-muted" style="
          padding-right: 12%;
          padding-left: 12%;
          font-size: 1.4rem;
          line-height: 1.4;">
         
            Team AtmaNirbhar is the Student Division of PARC. Belonging to the Birla Institute of Technology and Science, they are passionate about making their surroundings better.They take up various community service projects to improve the lives of the under-privileged and provide them with the tools to support themselves. The students assist and complement PARC with their work in all possible aspects.</p>
        </div>

        <h2 class="card-title" style="
         padding-left: 12%;
        padding-top: 2.5%;">Origin</h2>
        <p class="card-text" style="
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 1%;"><small class="text-muted" style="
        font-size: 1.4rem;
        line-height: 1.4;
        ">The team originated at a meeting between two BITSian students from the batch of 2017 met with the Director of PARC, who immediately realized the potential of such a team and highlighted the positive impact it could have on PARC and its vision. Encouraged, the students reached out to the Trustees of PARC who readily agreed and put in place a Student Division for PARC.</small></p>

        
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        <h2 class="card-title" style="
         padding-left: 12%;
        padding-top: 2.5%;">Role</h2>
        <p class="card-text" style="
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 1%;"><small class="text-muted" style="
        font-size: 1.4rem;
        line-height: 1.4;
        ">Since its origin in August 2019, the student team assists PARC in conducting workshops, organizing health camps, and presenting the organization’s vision to alumni. In addition to this, the team also works to further PARC’s social outreach and increase publicity. The team also undertakes projects related to college-specific problems and offers innovative solutions to institute officials for immediate implementation. The group acts as an important conduit between PARC and the BITSian Student Community.</small></p>

        <h2 class="card-title" style="
         padding-left: 12%;
        padding-top: 2.5%;">Why?</h2>
        <p class="card-text" style="
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 1%;"><small class="text-muted" style="
        font-size: 1.4rem;
        line-height: 1.4;
        ">Students tend to view the issues faced by society from a different perspective and come up with creative and innovative solutions to the many problems we encounter. They regularly approach and propose new projects for PARC to initiate. The team acts as a point of contact between PARC and other student-wings of NGOs on college campuses. The team has helped in stitching collaborations with organizations such as NSS and Nirmaan, leading to a greater outreach and, subsequently, to a more significant impact on the community in Pilani.</small></p>

        <h2 class="card-title" style="
         padding-left: 12%;
         padding-top: 2.5%;">Practise School</h2>
        <p class="card-text" style="
         padding-right: 12%;
        padding-left: 12%;
        padding-top: 1%;"><small class="text-muted" style="
        font-size: 1.4rem;
        line-height: 1.4;
        ">In addition to the informal, but dedicated and structured, engagement of students with PARC by way of extra-curricular involvement, more formal engagement was put in place from the summer of 2020. PARC is now formally a Practice School station of BITS for both Practice School I and II, which are part of the academic curriculum. Students from Pilani, Hyderabad and Goa campuses have already started their formal engagement with PARC through this academic activity and are making continuous and project-specific positive contributions to the community service efforts of PARC.</small></p>
        
        <h2 class="card-title" style="
         padding-left: 12%;
        padding-top: 2.5%;">Looking Ahead</h2>
        <p class="card-text" style="
        padding-right: 12%;
        padding-left: 12%;
        padding-top: 1%;"><small class="text-muted" style="
        font-size: 1.4rem;
        line-height: 1.4;
        ">Like any other fledgling organization, the team started small, with an initial strength of just two members. However, ambition, drive, and backing from the alumni at PARC helped spur the team onto laying the groundwork to empower their college surroundings. Over the past couple of months, the team has added several members aligned with our cause- to make our surroundings a harmonious, self-sustaining society. Our purpose and ideas have since spread across states; the student team now finds itself recruiting people from BITS Hyderabad and BITS Goa as well. The team has over 25 members across several streams and colleges today. With each recruit comes an innovative solution to world problems. Each student offers a new perspective - a fresh set of young eyes into issues that PARC faces in its quest to make India more ‘AtmaNirbhar.’</small></p>

        <h2 class="card-title" style="
         padding-left: 12%;
         padding-top: 2.5%;">Student Team Projects</h2>   
        <div class="line3" style="
         padding-left: 10%;
         padding-right: 12%;
         padding-top: 3%;">
          <hr>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
          <div class="col-md-7">
            <h2 class="featurette-heading" style="
            text-align: center;">GUIDE TO ONLINE TEACHING</h2>
            <p class="lead" style="
            padding-left: 17%;"><small class="text-muted" style="
            font-size: 1.4rem;
            line-height: 1.4;
            ">At PARC, we believe that no student should be left behind and want  everyone to have equal access to quality education and teaching.  We must help equip teachers with the necessary tools they need to survive  and thrive in this new, online world that will help them teach their  students better.<br><br> 

              To help with this transition, the PARC Student Team has curated a  course that has video tutorials, PDF documents on a plethora of useful  online tools, such as Search Engines, Google Services, and video  conferencing solutions. This course is self-paced and is provided free of cost to all.</small></p>
          </div>
          <div class="col-md-5">
            <img src="/assets/guide to online teaching.jpeg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style='width:70%;'>
            
          </div>
        </div>
        <div class="line3" style="
        padding-left: 13%;
        padding-right: 12%;
        padding-top: 3%;">
          <hr>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center" style="
        padding-top: 3%;">
          <div class="col-md-7 order-md-2" style="
          padding-right: 13%;">
            <h2 class="featurette-heading">FEEDING PILANI</h2>
            <p class="lead"><small class="text-muted" style="
            font-size: 1.4rem;
            line-height: 1.4;
            ">One of the team’s first projects, this project aimed at distributing surplus cooked food from hostel messes and restaurants on campus to the underprivileged and needy. The initiative was a resounding success, and it sowed the seeds of what came to be a highly productive and compassionate student group.<br><br>   

              PARC is now looking to scale up the process and developing a more holistic solution aimed at zero wastage.</small></p>
          </div>
          <div class="col-md-5 order-md-1">
            <img src="/assets/FeedingPilani.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" style="
            width: 96%;
            padding-left: 24%;">
          </div>
        </div>

        <div class="line" style="
         padding-left: 13%;
         padding-right: 12%;
         padding-top: 3%;">

         <hr>

        </div>

        <br><br><br>

        <p style="
        text-align: center;
        font-size: 1.1rem;
        line-height: 1.3;
        color: black;
        letter-spacing: 1px;
        font-weight: 330;
        "><i><b>THE PROBLEM THEY AIM TO SOLVE IS NOT SMALL, AND THEY NEED ALL THE HELP THEY CAN GET. <br>
        WOULD YOU LEND A HAND?</b></i></p>

      


      </div>

      <div style="background-image: url('/assets/purple.png'); bottom: 0;">
      <br>


      <a href="#" class="text-white" style="
      /* text-align: center; */
      padding-left: 41%;
      text-decoration: none;
      font-size: 1rem;">BLOGS</a> 
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="#" class="text-white" style="text-decoration: none; font-size: 1rem;">SUBSCRIBE NOW</a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="#" class="text-white" style="text-decoration: none; font-size: 1rem;">CONTACT US</a>
      &nbsp;
      &nbsp;
      &nbsp;
      <br>
      <br>
      <br><br>
      <br>
      <br>
      <p class="text-muted" style="text-align: center; font-size: 1.1rem; padding-left: 5%;">Powered by Squarespace</p>
          

