<h1>Edit details</h1>

<%= render 'form', be_a_volunteer: @be_a_volunteer %>

<%= link_to 'Show', @be_a_volunteer, class:"btn btn-secondary" %> |
<%= link_to 'Back', be_a_volunteers_path, class:"btn btn-dark" %>
